<% include partials/header.ejs %>

<form method="POST" action="/dashboard/addSlot">
    <input type="number" name="slot[start]" placeholder="From">
    <input type="number" name="slot[end]" placeholder="To">
    <button>Add</button>
</form>

<% include partials/footer.ejs %>
