<!DOCTYPE html>
<html>
<head>
    <title>Dhwani</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Material Kit CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="/public/assets/css/material-dashboard.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/timepicker@1.11.12/jquery.timepicker.min.js'></script>
</head>
<body class="dark-edition">
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="black" data-image="public/assets/img/sidebar-2.jpg">
          <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    
          Tip 2: you can also add an image using data-image tag
      -->
          <div class="logo" class="simple-text logo-normal">
                <img src = "/public/assets/img/logo.png" >
                <a href="http://www.dhwanibitmesra.in">Dhwani Music Club</a>
          </div>
          <div class="sidebar-wrapper">
            <ul class="nav">
              
              <!-- your sidebar here -->
            </ul>
          </div>
        </div>
        <div class="main-panel">
          <!-- Navbar -->
          <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
              <div class="navbar-wrapper">
                <a class="navbar-brand" href="/dashboard">Dashboard</a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)">
                      <i class="material-icons">notifications</i>
                      <p class="d-lg-none d-md-block">
                        Notifications
                      </p>
                    </a>
                  </li>
                  <!-- your navbar here -->
                </ul>
              </div>
            </div>
          </nav>
          <!-- End Navbar -->
          <div class="content">
            <div class="container-fluid">
              <!-- your content here -->
              <div>
          
        
<style>

@media only screen and (max-width: 600px) {
    .content {
        width: 100% !important;
    }
    h2, select, #duration, form button {
        width: 100% !important;
    }
    form {
        width: 100% !important;
        padding: 10% !important;
    }
    form select {
        padding-left: 40% !important;
    }
}

</style>

<div class="content" style="width:60%; float: right">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
            <div class="card">
            <div  style="background :#00bcd4" class="card-header card-header-primary">
                <h4 class="card-title ">Booked Slots</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Start Time
                    </th>
                    <th>
                        End Time
                    </th>
                    </thead>
                    <tbody>

<% var arr=[]; %>
<% for(var i=0;i<interval.length;i++) {  %>
<%  var time=interval[i].start,hr=0,min=0;  %>
<%  if(time<31) {
        hr=(17+parseInt((time-17)/2)).toString();
        if(time%2===0) {
            min="30";
        } else {
            min="00"
        }
    }
    else  {
        time-=31;
        hr=(parseInt(time/2)).toString();
        if(time%2===1) {
            min="30";
        } else {
            min="00"
        }
    } %>
    <%  var time2=interval[i].end,hr2=0,min2=0;  %>
<%  if(time2<31) {
        hr2=(17+parseInt((time2-17)/2)).toString();
        if(time2%2===0) {
            min2="30";
        } else {
            min2="00"
        }
    }
    else  {
        time2-=31;
        hr2=(parseInt(time2/2)).toString();
        if(time2%2===1) {
            min2="30";
        } else {
            min2="00"
        }
    } %>
   
    <% arr.push({
        id: i+1,
        username: interval[i].owner.username,
        start: interval[i].start,
        sttime: hr+":"+min,
        endtime: hr2+":"+min2
    }); %>
<% } %>

<% arr.sort(function(a, b){
    var keyA = a.start,
        keyB = b.start;
    // Compare the 2 dates
    if(keyA < keyB) return -1;
    if(keyA > keyB) return 1;
    return 0;
});  %>

<% for(var i=0;i<arr.length;i++) { %>
    <tr>
    <td><%= i+1 %></td>
    <td><%= arr[i].username %></td>
    <td><%= arr[i].sttime %></td>
    <td><%= arr[i].endtime %></td>
    </tr>
<% } %>


        </tbody>
        </table>
        </div>
    </div>
    </div>
</div>
</div>
</div>
</div>

<form style="width:40%; display:inline-block; padding-top:10px;" onsubmit="return validateform()" method="POST" action="/dashboard/addSlot">
    <h2>Slot</h2>
    <select class="btn btn-info" id="zone" name="duration">
        <option value="one">1.5 hours</option>
        <option value="two">2 hours</option>
    </select>
    <input class="btn btn-warning" id="duration" type="text" name="start" class="time ui-timepicker-input" autocomplete="off" placeholder="Start Time">
    <button class="btn btn-success">Add</button>
</form>

<style>

h2, select, #duration, form button {
  margin-bottom: 10%;
  font-family: Cursive;
  display: block;
    width: 80%;
    text-align: center;
}

select {
    padding-left: 25% !important;
    border-radius: 5%;
}

form {
    padding: 10%;
}

</style>

<script>
    $('#duration').timepicker({ 
        'timeFormat': 'H:i',
        'minTime': '6:00pm',
        'maxTime': '5:00am',
    });

    function validateform() {
        if($("#duration").val()===""||$("zone").val()==="") {
            alert("Please enter a time for booking the slot.");
            return false;
        }




        var timeVal=$("#duration").val();
        

        var start=0;
        var start_time=parseInt(timeVal);
        if(start_time<10) {
            start=31;
            start+=start_time*2;
        }
        else {
            start+=17;
            start+=(start_time-17)*2;
        }
        if(timeVal.charAt(3)==='3') {
            start+=1;
        }
        var duration=$("#zone").val();
        var end=0;
        if(duration==='one') {
            end=start+3;
        } else {
            end=start+4;
        }
        start=parseInt(start);
        end=parseInt(end);
           
        var flag=true;
        var arrs=[],arre=[];


        for(var i=0;i<interval.length;i++) {
            arrs.push(interval[i].start);
            arre.push(interval[i].end);
        }

        for(var i=0;i<arrs.length;i++) {
            if(start>=arrs[i] && start< arre[i] && end>= arre[i] ) {
                flag = false;
            }
            if(start<arrs[i]&&end>arrs[i]&&end<=arre[i]) {
                flag = false;
            }
            if(start<=arrs[i]&&end>=arre[i]) {
                flag = false;
            }
            if(start>=arrs[i]&&start<=arre[i]&&end<=arre[i]&&end>=arrs[i]) {
                flag=false;
            }
        }


        if(flag===false) {
            alert("");
            return false;
        }
        return true;
    }
</script>

</div>
</div>
</div>
<footer class="footer">
<div class="container-fluid">
  <nav class="float-left">
   
  </nav>
  <div class="copyright float-right">
    
  </div>
  <!-- your footer here -->
</div>
</footer>
</div>
</div>
    <script src = "/public/assets/js/main.js"></script>
  <script src="/public/assets/js/core/jquery.min.js"></script>
  <script src="/public/assets/js/core/popper.min.js"></script>
  <script src="/public/assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="/public/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="/public/assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/public/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/public/assets/js/material-dashboard.js?v=2.1.0"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="/public/assets/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
</body>
</html>