<% include partials/header.ejs %>

<h1>Heelloo world</h1>

<% for(var i=0;i<slot.length;i++) { %>
    <li><%= slot[i].start%31 + ":" %> - <% if(slot[i].start%2===1) { %>


    <% } else {%>
    <li><%= slot[i].start %> - <%= slot[i].end %></li>
<% } %>

<a href="/dashboard/addSlot">Add Slot</a>

<a href="/logout">Log Out</a>
<% include partials/footer.ejs %>
