<% include partials/header.ejs %>

<form class="form-group" method="POST" action="/signup">
    <input  type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <button>Sign Up</button>
</form>

<a href="/login">Login</a>


<% include partials/footer.ejs %>
